## Scenario:

You have been retained by a retail company to analyse a dataset based on video games. This analysis will help determine the sales strategy for the company in their upcoming Winter season.

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

#warnings.filterwarnings('ignore')
%matplotlib inline

In [5]:
#!pip install --upgrade pandas
#!pip install openpyxl --upgrade openpyxl

### Data dictionary

In [7]:
d_dict = pd.read_excel('vgsales data dictionary.xlsx')
d_dict

,Column Name,Description,Data Type
0,name,Name of the Game,Text
1,platform,Game Platform,Text
2,year_of_release,Year Game Released,Integer
3,genre,Type of Game,Text
4,publisher,Name of Game Publisher,Text
5,na_sales,North American Sales,Float
6,eu_sales,European Sales,Float
7,jp_sales,Japanese Sales,Float
8,other_sales,Sales from Other Countries Not including N-Ame...,Float
9,global_sales,Global Sales,Float
10,critic_score,Critics Rating of the Game,Integer
11,critic_count,Number of Critics who rated the game,Integer
12,user_score,Users Rating of the Game,Float
13,user_count,Number of Users who rated the game,Integer
14,developer,Developer Name,Text
15,rating,Appropriate User Age Rating,Text

### Part 1:

•	What are the top 5 games by global sales?  
•	Is there a correlation between the “na_sales” and “jp_sales” for the years 2010-2014?  
•	What is the distribution of the most popular 4 game genres?  
•	Do older games (2005 and earlier) have a higher MEAN “eu_sales” than newer games (after 2005)?  
•	What are the 3 most common “developer” in the dataset?

### Part 2:

You must answer a “Statistically Relevant” question, OF YOUR OWN CHOOSING, using the dataset, that has not been asked in Part 1. This must have a logical basis that enhances the information and insight gained in the scenario.

### Part 3:

You must explain, in detail,    
 - why you chose the specific methods to engineer the data and how you achieved this in python (Part 1/Part 2)  
 - why you chose your specific visualizations to illustrate each answer (Part 1/Part 2)  
 - what design decisions you made for each visualization (for example, but not only: colour, font, titles, size, text position, font size etc) (Part 1/Part 2)  
 - what your rationale is for the visualization created in Part 2 and how your question enhances the information and insight gained in the scenario (Part 2)